.jobportal__brand {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    top: 344px;

}

.brand-images-box {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 15s linear infinite;
}

.brand-images-box:hover {
    animation-play-state: paused;

}

@keyframes scroll {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate((calc(-250px * 9)));
    }
}

.slide {
    height: 200px;
    width: 250px;
    padding: 15px;


}

.brand_heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

    position: absolute;
    bottom: 64px;
    text-align: center;
    align-items: center;
    font-size: 29px;
    font-family: math;
    // color: #0e8c7f;
    color: #023020;
    bottom: 166px;
    right: 317px;

}

.jobportal__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 266px;
}

@media (max-width: 768px) {
    .jobportal__brand {
        justify-content: center;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .brand_heading {
        position: absolute;
        bottom: 40px;
        text-align: center;
        align-items: center;
        font-size: 20px;
        /* Adjusted font size */
    }

    .jobportal__brand div {
        flex: 1;
        min-width: 80px;
        margin: 0.5rem;

    }
}