$buttonPrimaryColor: #333;
$buttonSecondaryColor: #444;

.contact {
  margin: 0;
  padding: 5px;
  left: 10%;
  width: 80%;
  max-height: 100%;

  .contact-container {
    max-width: 800px;
    /* Adjust the value as needed */
    margin: 0 auto;
    padding: 20px;

    .submit-button {
      background: linear-gradient(to right, $buttonPrimaryColor, $buttonSecondaryColor);
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      outline: none;
      width: 15%;
      margin-top: auto;

      &:hover {
        background: linear-gradient(to right, $buttonSecondaryColor, $buttonPrimaryColor);
        transform: translateY(-2px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
      }

      &:focus {
        outline: none;
      }
    }
  }
}


.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* social media items */
