$primary-color: #1877f2;
$secondary-color: #fff;
$border-radius: 8px;
$buttonPrimaryColor: #333;
$buttonSecondaryColor: #444;

.notifications {
  width: 70%;
  margin: 20px auto;
}

.notification {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .notif {
    width: 90%;
    margin-left: 10px;

    .profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primary-color;
    }

    .content {
      overflow: hidden;
    }

    .message {
      font-weight: 600;
    }
  }

  &:hover {
    background-color: #d4d8e1;
  }

  .buttons {
    display: flex;
  }


}

.metamask-message {
  display: flex;
  align-items: center;
  height: 39px;
  left: 219px;
  position: relative;
  width: 550px;
  padding: 20px;
  background-color: #03a9f4;
  color: $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.connect-btn-notification {
  background: linear-gradient(to right, $buttonPrimaryColor, $buttonSecondaryColor);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 15%;
  margin-top: auto;

  &:hover {
    background: linear-gradient(to right, $buttonSecondaryColor, $buttonPrimaryColor);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: none;
  }
}